.center{
    text-align: center;
    padding-top: 2rem;
    font-family:serif;
    font-size: 60px;
  }
  
  .vertical{
      writing-mode: vertical-lr;
      text-orientation: mixed;
      transform: rotate(180deg);
      font-size: 20px;
  }
